
  .carousel__inner-slide {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
   
  } 

  @media screen and (min-width:960px) {
  .carousel__back-button{
     margin-right: 150px;
     height: 2rem;
     width: 2rem;
  } 
  .carousel__next-button {
    margin-left: 150px;
    height: 2rem;
    width: 2rem;
  } 
} 

.carousel__back-button{
  height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: transparent
} 
.carousel__next-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
   background-color: transparent
} 

  .carousel__dot {
    width: 1px;
    height: 1px;
    margin: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent
  }

  .carousel__dot--selected {
    width: 2rem;
    height: 2rem;
    margin: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color:gray;
  }

.about-img {
  width: 500px;
  height: 500px;
} 
@media screen and (max-width: 960px) {
    .about-img{
        width: 250px;
        height: 250px;
    }
}
