
@media screen and (max-width:768px) {
    p{
        font-size:15px;
        padding: 10px;
        margin:1%;
        text-align: center;

    }
}

p{
    align-items: flex-start;
    padding: 10px;
    margin:1%;
    text-align: center;
    font-size: 25px;
}
iframe{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width:600px;
    margin-left:25%;
    margin: auto;
    padding: 10px
   
}
img{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width:600px;
    margin-left:25%;
    margin: auto;
    margin-top:20px;
    margin-left: 20PX;
    margin-bottom: 20px;
}
@media screen and (max-width:768px) {
    iframe{
        display: flex;
        margin:auto;
        padding:10px;
        align-items: center;
        justify-content: center;
        width:fit-content;
        height:fit-content
    }
    img{
        height:200px;
        width:200px
    }
    
}
@media screen and (min-width:768px){
.home-container {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
}