.footer {
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  bottom: 0;
  left: 0;
  width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.footer-link {
  font-weight: 900;
  color: white;
}

.footer-text {
  color: white;
  text-align: center;
}

.footer-link:hover {
  background-color: #d3d3d3;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
